@using Microsoft.AspNet.Razor.Runtime.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Admin";
}

<div class="row" ng-controller="dashboardController">
    <div class="col-xs-12">
        <h1>
            {{Name}}
        </h1>
    </div>
</div>