@model viper.Models.Identity.LoginViewModel

@{
    Layout = "~/Views/Shared/_MenulessLayout.cshtml";
    ViewBag.Title = "Log in";
}
@section styles
{
    <link rel="stylesheet" href="~/css/login.css" />
}
<nav class="navbar navbar-default">

</nav>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
    <div class="login-form">
        <div class="group">
            <img class="logo img-responsive" src="~/images/logo-fitmentgroup.png" />
        </div>
        @if (!ViewData.ModelState.IsValid)
            {
            <div class="group">
                <div class="alert alert-danger">
                    The username and/or password entered was incorrect.
                </div>
            </div>
        }
        <div class="group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input asp-for="Email" class="form-control" placeholder="Email" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input asp-for="Password" class="form-control" placeholder="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="group">
            <div class="checkbox">
                <label>
                    <input asp-for="RememberMe" /> Remember me?
                </label>
            </div>
        </div>
        <div class="group">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Log in" />
        </div>
        <div class="group">
            <section>
                <p class="text-center"><a asp-action="ForgotPassword">Forgot your password?</a></p>
                <p class="text-center text-muted text-small">Don't have an account yet? <a asp-action="Register">Sign up</a></p>
            </section>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}