@inject IOptions<AppSettings> AppSettings
@{
    Layout = "_Layout";
}

<div class="row wrapper">
    <ul class="nav nav-pills nav-stacked navbar-collapse collapse sidebar">
        <li></li>
        <li role="presentation" class="active"><a href="#"><i class="fa fa-fw fa-male"></i> Clients</a></li>
        <li role="presentation"><a href="#"><i class="fa fa-fw fa-barcode"></i> Products</a></li>
    </ul>
    <div class="main">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</div>
