@using viper.Components
@inject IOptions<AppSettings> AppSettings
@{
    Layout = "_Layout";
}
<div class="container-fluid main">
    <div class="row">
        @await Component.InvokeAsync("Sidebar")
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>
</div>

@section scripts {
    @RenderSection("scripts", required: false)
}