@inject IOptions<AppSettings> AppSettings
@inject viper.Services.Session Session

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Session.SiteTitle</title>

<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" />
</environment>
<link rel="stylesheet" href="~/css/header.css" />
<link rel="stylesheet" href="~/css/dashboard.css" />
<link rel="stylesheet" href="~/css/sb-admin.css" />
