@using System.Security.Claims
@inject IOptions<AppSettings> AppSettings
@inject viper.Services.Session Session
<!DOCTYPE html>
<html ng-app="viper">
    <head>
        @await Html.PartialAsync("_HeadPartial")
        @RenderSection("styles", required: false)
    </head>
    <body>
        <nav class="header">
            <div class="header-left">
                <a class="header-brand" asp-controller="Dashboard" asp-action="Index">
                    Viper Admin
                </a>
            </div>
            <div class="header-right">
                @await Html.PartialAsync("_LoginPartial")
            </div>
</nav>
        @RenderBody()
        <div class="scripts">
            @await Html.PartialAsync("_BodyScriptsPartial")
            @RenderSection("scripts", required: false)
        </div>
    </body>
</html>
