@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Admin";
}
<section st-table="displayedRows" st-safe-src="rows">
    <vp-table type="role"
              headers="Name,Description"
              fields="Name,Description"
              create-fields="Name,Description">
    </vp-table>
</section>