.input-group .input-group-addon,
.input-group .form-control {
    border-radius: 0px;
    height: 47px;
}

.logo {
    margin: 16px auto;
}

.login-form {
    max-width: 350px;
}

.alert {
	font-size: 13px;
	margin-bottom: 0px;
}