.input-group .input-group-addon,
.input-group .form-control {
    border-radius: 0px;
    height: 47px;
}

.logo {
    margin: 0px auto;
}

.alert {
	font-size: 13px;
	margin-bottom: 0px;
}

.login-form {
    margin: 0px auto;
    margin-top: 15px;
}

.login-form .group {
	margin-bottom: 15px;
}

@media (min-width: 720px) {
	.login-form {
		width: 460px;
	}
}

@media (max-width: 720px) {
	.login-form {
		width: 400px;
	}
}

@media (max-width: 520px) {
	.login-form {
		width: 280px;
	}
}