@using Microsoft.AspNet.Razor.Runtime.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Admin";
}

<section st-table="displayedRows" st-safe-src="rows">
    <vp-table type="client"
              headers="Name,Title,Type,Created Date"
              fields="Name,Title,Type,Date">
    </vp-table>
</section>