<div class="form-group">
    <label class="col-sm-2 control-label">{{field.name.camelSplit()}}</label>
    <div class="col-sm-10 ">
        <div class="checkbox" ng-repeat="item in items track by item.Id">
            <label>
                <input type="checkbox"
                       checklist-model="checklistModel()"
                       checklist-value="map(item)"
                       checklist-comparator="comparator" />{{item.Name}}
            </label>
        </div>
    </div>
</div>