<div class="modal-header">
    <h3 class="modal-title">Edit {{type}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-repeat="field in fields track by field">
            <label for="{{field}}" class="col-sm-2 control-label">{{field}}:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="form[field]" class="form-control" id="{{field}}">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close(client)">OK</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>