@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Admin";
}
<section st-table="displayedRows" st-safe-src="rows">
    <vp-table type="feature"
              headers="Name"
              fields="Name"
              create-fields="Name"
              >
    </vp-table>
</section>