@using Microsoft.AspNet.Razor.Runtime.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Admin";
}
<div id="page-wrapper" style="min-height: 555px;" ng-controller="appsController">
    <div class="row">
        <div class="col-lg-12 page-header">
            <h1>Applications</h1>
            <add-button></add-button>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"><label>Show <select name="dataTables-example_length" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder=""></label></div></div></div><div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" st-table="displayedApps" st-safe-src="applications" >
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 143.091px;">Name</th>
                                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 178.091px;">Title</th>
                                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 160.091px;">Type</th>
                                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 124.091px;">Created Date</th>
                                                <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 93px;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeA odd" role="row" ng-repeat="app in displayedApps track by app.Id">
                                                <td class="sorting_1">{{app.Name}}</td>
                                                <td>{{app.Title}}</td>
                                                <td>{{app.Type}}</td>
                                                <td class="center">(missing created field)</td>
                                                <td class="center">
                                                    <edit-button vp-id="{{app.Id}}"></edit-button>
                                                    <delete-button vp-id="{{app.Id}}"></delete-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5" class="text-center">
                                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>