@using Microsoft.AspNet.Razor.Runtime.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Admin";
}
<div id="page-wrapper" style="min-height: 555px;" ng-controller="appsController">
    <vp-table title="Applications" api="applications"
              headers="Name,Title,Type,Created Date"
              fields="Name,Title,Type,Date"
    >
    </vp-table>
</div>