@using Microsoft.AspNet.Razor.Runtime.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Admin";
}
<section st-table="displayedRows" st-safe-src="rows">
    <vp-table type="application"
              headers="Name,Type,Description,Created Date"
              fields="Name,ApplicationType.Name,Title,CreateTs"
              search-field="Name"
              mode="checkbox">
        <table-header>
            <app-type-dropdown></app-type-dropdown>
        </table-header>
    </vp-table>
</section>
